%h3 Your Information
%div{:class => 'container'}
  %div{class: 'div_align_left', id: 'bold_text'}
    First Name:
    %br
    Last Name:
    %br
    Status:
    %br
    Last Login:
    %br
    Case Manager:
    %br
    Job Developer:
  %div{class: 'div_align_left'}
    = @jobseeker.first_name
    %br
    = @jobseeker.last_name
    %br
    = JobSeekerStatus.find(@jobseeker.job_seeker_status_id).value
    %br
    = @jobseeker.last_sign_in_at
    %br
    - if @jobseeker.agency_people.empty?
      %i None assigned
    - else
      = @jobseeker.case_manager
    %br
    - if @jobseeker.agency_people.empty?
      %i None assigned
    - else
      = @jobseeker.job_developer

  %div{class: 'div_align_bottom'}
  %br
  %br
  %br
  %br
    = link_to 'Update your information', edit_job_seeker_path, class: 'btn btn-primary'


%h3 Your Applications
%i This feature has not been built yet

%h3 Job Opportunities - Best Match
= render partial: 'jobs/compact_list', locals: {jobs: @newjobs}

%h3 Job Opportunities - New
= render partial: 'jobs/compact_list', locals: {jobs: @newjobs}
