#jobs_table
  %table.table.table-hover
    %thead
      %tr
        %td
          %strong Title
        %td
          %strong Employer
        %td
          %strong Description
        %td
          %strong Posted
    %tbody
      - if @newjobs.empty?
        There are no jobs available
      - else
        - @newjobs.each do |job|
          %tr
            %td
              = link_to "#{job.title}", job_path(job)
              %td
                = job.description
              %td
                = Company
              %td
                = "#{time_ago_in_words(job.created_at, )} ago"
